*{
    padding: 1%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


nav{
    display:flex;
    flex-wrap: wrap;
    background-color: gray;
    color: black;
    font-size: x-large;
    justify-content: space-between;
    align-items: center;
}


nav h1{
    margin-right: 40%;
    
}

div{
    display: flex;
    flex-wrap: wrap;
}