
nav{
    float: top;
    orientation: landscape;
    width: fill;
    height:min-content;
    background-color: gray;
    text-align: end;
    color: black;
    font-size: x-large;
}

img{
    float: right;
}

nav a{
    color: black;
}

nav h1{
    text-align: left;
    font-size: xx-large;
    
}

