*{
    padding: 1%;
   
    margin: auto;
}


nav{
    display:flex;
    flex-wrap: wrap;
    background-color: gray;
    color: black;
    font-size: x-large;
    justify-content: space-between;
    align-items: center;
}


nav h1{
    margin-right: 30%;
    
}

nav a:link{
    color:white;
}

.about {
    display: flex;
    flex-wrap: wrap;
}

.handles{
    display: flex;
    justify-content: space-around;
}

.skills{
    padding-left: 0%;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: min-content;
    
}
